################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SM.SmartInfo/copilot-chat/0ffb7393/sessions/057cd02d-dc24-4ce2-b2b8-186820225cc0
/.vs/SM.SmartInfo/copilot-chat/0ffb7393/sessions/49c91f98-209a-41f6-b532-d6d866f27fc7
/.vs/SM.SmartInfo/copilot-chat/0ffb7393/sessions/52659dac-fdd9-4f56-9f12-442d0d6e2352
/.vs/SM.SmartInfo/copilot-chat/0ffb7393/sessions/6c6b1593-bac6-4b86-a01f-8a0e8cb022c9
/.vs/Clone_SmartInfo/v16/.suo
/.vs/SM.SmartInfo/copilot-chat/0ffb7393/sessions
/.vs/SM.SmartInfo/FileContentIndex
/.vs/SM.SmartInfo/v17
