<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="6.2.6" targetFramework="net45" />
  <package id="EPPlus.Interfaces" version="6.1.1" targetFramework="net45" />
  <package id="EPPlus.System.Drawing" version="6.1.1" targetFramework="net45" />
  <package id="QRCoder" version="1.4.3" targetFramework="net45" />
  <package id="System.Collections" version="4.3.0" targetFramework="net45" />
  <package id="ZXing.Net" version="0.16.9" targetFramework="net45" />
</packages>