.logo {
    position: fixed;
    top: 11px;
    left: 50px;
    width: 114px;
    display: inline-block
}

    .logo img {
        width: 100%;
    }

.menu-top {
    position: fixed;
    top: 0px;
    width: 100%;
}

.menu-top-content {
    width: 500px;
    padding-top: 5px;
    margin: 0px auto;
}

.menu-top-item {
    width: 25%;
    float: left;
}

    .menu-top-item span {
        font-size: 18px;
        color: #2F54EB;
        display: inline;
    }

    .menu-top-item h5 {
        font-size: 14px;
        color: #595959;
        display: inline;
    }

    .menu-top-item a {
        font-size: 14px;
        color: #595959;
    }

        .menu-top-item a:hover {
            font-weight: normal;
            text-decoration: none;
            color: #2F54EB;
        }

.user-name-avatar {
    width: 25px;
    height: 25px;
    margin-top: 7px;
    display: inline-block;
    background: url("../Images/user.png") no-repeat;
    background-size: cover;
}

.home-col-3 {
    height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-block {
    display: block;
    background: #FFF;
}

.home-block-title {
    margin-top: 30px;
    width: 100%;
    padding: 15px 20px;
    border-bottom: 1px solid #E8E8E8;
}

    .home-block-title h3 {
        margin: 0px;
        font-size: 18px;
        font-weight: bold;
        color: #464457;
    }

    .home-block-title .title-right {
        font-size: 14px;
        font-weight: 500;
        color: #595959;
        display: flex;
        align-items: center;
        float: right;
    }

    .home-block-title .title-right-icon {
        width: 22px;
        height: 22px;
        background: #F2F3F8;
        border-radius: 4px;
        text-align: center;
    }

        .home-block-title .title-right-icon i {
            font-size: 14px;
            color: #597EF7;
            line-height: 22px;
        }

.home-block-content ul {
}

.home-block ::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    border-radius: 4px;
    background-color: #fff;
}

.home-block ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #F5F5F5;
}

.home-block ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    background-color: #E8E8E8;
}

.home-notify {
    padding: 0 20px;
    list-style-type: none;
    height: 630px;
    overflow: auto;
}

    .home-notify li {
        padding: 15px 0;
        border-bottom: 1px solid #E8E8E8;
    }

        .home-notify li:last-child {
            border-bottom: none;
        }

    .home-notify .notify-date {
        width: 82px;
        height: 38px;
        line-height: 38px;
        border-radius: 4px;
        margin-right: 15px;
        text-align: center;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        float: left;
    }

    .home-notify .date-blue {
        background: #F0F5FF;
        color: #2F54EB;
    }

    .home-notify .date-red {
        background: #FFF1F0;
        color: #FF4D4F;
    }

    .home-notify .date-gray {
        background: #F5F5F5;
        color: #8C8C8C;
    }

    .home-notify .notify-note {
        margin-top: 10px;
        float: right;
    }

    .home-notify .notify-employee {
        font-size: 12px;
        color: #262626;
        float: right;
    }

        .home-notify .notify-employee span {
            width: 12px;
            height: 12px;
            color: #fff;
            text-align: center;
            background: #8C8C8C;
            border-radius: 50%;
            margin: 2px 0 0 8px;
            padding-top: 1px;
            float: right
        }

        .home-notify .notify-employee i {
            font-size: 8px;
        }

.home-notify-content {
}

    .home-notify-content h4 {
        margin: 0px;
        font-weight: 600;
        font-size: 14px;
        color: #1D39C4;
    }

    .home-notify-content p {
        font-weight: normal;
        font-size: 13px;
    }

.press-agency-top {
    width: 100%;
    padding: 20px;
    background: #fff;
    margin-bottom: 30px;
}

ul.press-agency-info {
    margin: 5px 0 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

    ul.press-agency-info li {
        width: 48%;
        border-bottom: 1px solid #E8E8E8;
    }

    ul.press-agency-info > li > .row {
        margin-top: 5px;
    }

    /*ul.press-agency-info li:nth-last-of-type(-n+2) {
        border-bottom: none;
    }*/

    ul.press-agency-info li p {
        margin: 8px 0px;
        font-size: 14px;
        color: #595959;
    }

    ul.press-agency-info > li > .row > .col-sm-4 > span {
        margin: 8px 0px;
        font-size: 14px;
        color: #595959;
    }

    ul.press-agency-info > li > .row > .col-sm-2 > span {
        margin: 8px 0px;
        font-size: 14px;
        color: #595959;
    }

.press-agency-bottom {
    width: 100%;
    background: #fff;
}

.list-table-title {
    border-bottom: 1px solid #E8E8E8;
    padding: 15px 20px 0;
}

    .list-table-title a {
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        color: #464457;
        margin-right: 30px;
        margin-bottom:8px;
    }

        .list-table-title a.title-active {
            color: #1D39C4;
            border-bottom: 2px solid #1D39C4;
            text-decoration: none;
            margin-bottom: 8px;
        }

        .list-table-title a:hover {
            color: #1D39C4;
            border-bottom: 2px solid #1D39C4;
            text-decoration: none;
            margin-bottom: -2px;
        }

.list-table-content {
    width: 100%;
    padding: 20px;
}

.data-table {
    border: 1px solid #D9D9D9;
    border-radius: 4px;
}

ul.press-agency-hr {
    max-height: 650px;
    margin: 0;
    padding: 0 10px 0 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: space-between;
    overflow: auto;
}

    ul.press-agency-hr > li {
        width: 48%;
        padding: 15px 5px 12px;
        margin-bottom: 20px;
        border: 1px solid #E8E8E8;
        border-radius: 4px;
        margin-right: 10px;
    }

        ul.press-agency-hr > li .row {
            margin-bottom: 8px;
        }

    ul.press-agency-hr .circle-note {
        width: 15px;
        height: 15px;
        display: inline-block;
        border: 1px solid #8C8C8C;
        border-radius: 50%;
    }

    ul.press-agency-hr > li.active-li {
        border-color: #597EF7;
    }

        ul.press-agency-hr > li.active-li .circle-note {
            position: relative;
            border-color: #1D39C4;
        }

            ul.press-agency-hr > li.active-li .circle-note::after {
                position: absolute;
                top: -1px;
                left: 3px;
                content: '\2713';
                font-size: 12px;
                font-weight: bold;
                color: #F5222D;
            }

.circle-note {
    width: 15px;
    height: 15px;
    display: inline-block;
    border: 1px solid #8C8C8C;
    border-radius: 50%;
    position: relative;
    border-color: #242424;
}

    .circle-note::after {
        position: absolute;
        top: -1px;
        left: 3px;
        content: '\2713';
        font-size: 12px;
        font-weight: bold;
        color: #F5222D;
    }

.pa-popup {
    width: 100%;
}

    .pa-popup .pa-popup-title {
        font-size: 14px;
        font-weight: bold;
        color: #1D39C4;
        line-height: 22px;
    }

        .pa-popup .pa-popup-title span {
            width: 3px;
            height: 22px;
            display: inline-block;
            background: #1D39C4;
            margin-right: 12px;
            border-radius: 20px;
        }

    .pa-popup ul {
        margin: 0px;
        padding: 15px 0 0;
        list-style-type: none;
    }

        .pa-popup ul li {
            padding: 8px 0;
            border-bottom: 1px solid #DCE0E6;
        }

        .pa-popup ul p {
            font-size: 14px;
            color: #262626;
        }

            .pa-popup ul p.pa-date {
                margin-bottom: 4px;
                font-size: 12px;
                color: #595959;
                padding: 2px 0px;
                display: inline-block;
            }

            .pa-popup ul p.pa-date-red {
                margin-bottom: 4px;
                font-size: 12px;
                color: #FF4D4F;
                padding: 2px 5px;
                display: inline-block;
                background: #FFF1F0;
                border-radius: 100px;
            }

.pa-popup-same-group ul.press-agency-hr > li {
    width: 24%;
}

.data-table table.table {
    margin-bottom: 0;
}

    .data-table table.table > thead > tr > th {
        text-align: left;
        font-size: 14px;
        color: #595959;
    }

    .data-table table.table > tbody > tr > td {
        vertical-align: middle;
        font-size: 13px;
        color: #595959;
    }

    .data-table table.table > tbody > tr:nth-child(even) {
        background: #FAFAFA;
    }

.data-table .table-pagination {
    margin: 10px 0 10px 10px;
}

    .data-table .table-pagination a {
        display: inline;
        font-size: 15px;
        color: #595959;
    }

        .data-table .table-pagination a:hover {
            text-decoration: none;
        }

        .data-table .table-pagination a.disable {
            color: #BFBFBF;
        }

    .data-table .table-pagination span {
        display: inline;
        margin: 0 15px;
        font-size: 14px;
    }

.table-pagesize span {
    font-size: 14px;
    color: #595959;
    margin-right: 7px;
}

.new-grid {
    width: 100%;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 2px;
}

    .new-grid table {
        width: 100%;
        border: none;
    }

    .new-grid tr.grid-header {
        background-color: #fff;
    }

    .new-grid tr.grid-even, .new-grid tr.grid-odd {
        border: none;
        border-top: 1px solid #D9D9D9;
    }

    .new-grid tr.grid-even {
        background: #FAFAFA;
    }

        .new-grid tr.grid-even i, .new-grid tr.grid-odd i {
            color: #000;
        }

    .new-grid tbody tr.grid-even:hover, .new-grid tr.grid-odd:hover,
    .new-grid tbody tr.grid-even:hover a, .new-grid tr.grid-odd:hover a,
    .new-grid tbody tr.grid-even:hover i, .new-grid tr.grid-odd:hover i {
        background: #597EF7;
        color: #fff;
    }

    .new-grid tbody td {
        padding: 10px 5px;
    }

.new-grid-page {
    border-top: 1px solid #D9D9D9;
}

.new-grid .new-grid-page td {
    padding-left: 10px;
}

.new-grid .new-grid-page span {
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    padding: 0 3px;
    margin: 0 3px;
}

    .new-grid .new-grid-page span:hover {
        text-decoration: underline;
    }

.new-button {
    color: #595959;
    margin-top: 4px;
    font-size: 16px;
    background: #F2F3F8;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
}
.table-list-user table .grid-header td{
    font-weight:600;
}
.table-list-user table .grid-even td, .table-list-user table .grid-odd td, .table-list-user table .new-grid-page td {
    font-size: 13px;
}
.table-group-list-user .grid-header td {
    font-weight: 600;
    font-size:14px;
}
.table-group-list-user .grid-item-even td, .table-group-list-user .grid-item-odd {
    font-size: 13px;
}
.flex_tree-ul li{
    font-size:13px;
}
.flex_tabstrip ul li span{
    font-size:14px;
}
.table-staff .grid-header td{
    font-size:14px;
    font-weight:600;
}
.table-staff .grid-item-even td, .table-staff .grid-item-odd td {
    font-size: 13px;
}
#MainContent_ucDynamicReport_ucDynamicReport_rptCondition_lblCaption_0, #MainContent_ucDynamicReport_ucDynamicReport_rptCondition_lblCaption_1 {
    font-size: 14px;
    font-weight: 600 !important;
}
#MainContent_ucDynamicReport_ucDynamicReport_rptCondition_tdInput_0 input[type="submit"],
#MainContent_ucDynamicReport_ucDynamicReport_rptCondition_tdInput_1 input[type="submit"] {
    font-size: 14px;
    font-weight: 600;
}
#MainContent_ucDynamicReport_ucDynamicReport_grdData .flex_grid-header td,
#MainContent_ucListRule_grdData .flex_grid-header  td{
    font-size: 14px;
    font-weight: 600;
}
#MainContent_ucDynamicReport_ucDynamicReport_grdData .flex_grid-item-even td,
#MainContent_ucDynamicReport_ucDynamicReport_grdData .flex_grid-item-odd td,
#MainContent_ucListRule_grdData .flex_grid-item-even td,
    #MainContent_ucListRule_grdData .flex_grid-item-odd td{
    font-size: 13px;
}
#MainContent_ucListRule_Panel1 tr th, #MainContent_ucListRule_btnSearch {
    font-size: 14px;
    font-weight: 600;
}
a.fa, a.fas {
    font-family: 'Font Awesome 5 Free'!important;
}
.bg-home-block-title {
    background-color: #e0f0ff;
    margin-top:0;
}
.bg-home-block-title h3 {
    color: #141ed2;
}
    .bg-home-block-title .title-right-icon, .bg-home-block-title select {
        background: transparent;
        color: #141ed2;
    }
.home-block-content-custom .home-notify .date-blue {
    color: #242424;
}
.home-block-content-custom .home-notify .date-red {
    background: #F0F5FF;
    color: #242424;
}
.home-block-content-custom .title-notifi a{
    color: #242424;
    font-weight:600;
}
    .home-block-content-custom .title-notifi a:hover {
        font-weight: 600;
        color: #141ed2;
    }
a:hover, a:focus{
    text-decoration:none!important;
}
.home-block-content-news .description-news a {
    font-size: 14px;
    font-weight: 600;
    color: #262626;
}
    .home-block-content-news .description-news a:hover {
        color: #141ed2;
    }
.content-box-kt {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.content-box-kt h3{
    padding:0;
    margin:0;
}
@media only screen and (max-width: 1499px) {
    .content-box-kt {
        align-items: flex-start;
        flex-direction: column;
        gap:5px;
    }
        .content-box-kt .item-btn {
            margin-left: -13px;
        }
}