.div-tab-menu {
    padding: 0px;
    margin: 0px;
    border: 0px;
    clear: both;
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
}

.custom_tabstrip {
    display: table;
    margin: auto !important;
    border-spacing: 0px !important;
}

    .custom_tabstrip li {
        float: left;
        list-style-type: none;
        font-weight: bold;
        border-top: 1px solid #ABADB3;
        border-right: 1px solid #ABADB3;
        cursor: pointer;
    }

.custom_tabstrip-item {
    color: #818181;
    margin: 0px;
    border-left: 1px solid #c7daf5 !important;
    border-bottom: 0px !important;
}

    .custom_tabstrip-item:not(.custom_tabstrip-item-active) a:not(.btn-disabled):hover {
        color: #ec870e;
        background-color: white !important;
        border-top: 3px solid #ec870e !important;
        transition: 0.2s;
        text-decoration: none;
    }

.custom_tabstrip-item-active {
    background-color: white !important;
    color: #ec870e;
    margin: 0px;
    border-left: 1px solid #c7daf5 !important;
    border-bottom: 0px !important;
    border-top: 3px solid #ec870e !important;
    height: 25px !important;
}

.custom_tabstrip ul {
    border: 0px;
}

    .custom_tabstrip ul li a {
        display: unset !important;
        padding: 3px 10px 3px 10px !important;
    }

        .custom_tabstrip ul li a:not(.btn-disabled) {
            color: unset !important;
        }

.btn-disabled {
    background-color: #737373;
    color: #b1b1b1 !important;
}

    .btn-disabled:hover {
        color: #b1b1b1 !important;
        background-color: #737373 !important;
        border-top: 1px !important;
        transition: 0s;
        text-decoration: none;
    }

.btn-inContent {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    margin: 5px 3px 0px 0px;
    padding: 4px 6px 4px 6px;
    font-weight: normal;
    text-transform: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 3px;
    background-color: #EC870E;
    border: 1px solid #EC870E;
}

    .btn-inContent:hover {
        text-decoration: none;
        color: white;
        opacity: 0.8;
    }