
/*add new */
.toolbar {
	height: 40px;
	color: black;
	margin: 0px;
	padding: 0 10px;
	clear: both;
	font-weight: bold;
	line-height: 40px;
	text-transform: uppercase;
	position: fixed;
	background: #FFF;
	top: 75px;
	right: 0px;
	left: 221px;
	border-bottom: 1px solid #ddd;
	z-index: 4;
	font-family: Tahoma;
	font-size: 16px;
}


.page-navigation-toggled .toolbar {
	left: 1px;
}

.icon_toolbar {
	float: right;
	margin: 4px 0 0 0;
	padding-left: 0px;
}

	.icon_toolbar li {
		display: block;
		float: left;
	}

		.icon_toolbar li a:hover {
			text-decoration: none;
			opacity: 0.7;
			filter: alpha(opacity=70);
		}

.search-admin {
	display: block;
	margin: 0 auto;
	width: 400px;
}

.search-admin-2 {
	display: block;
	margin: 0 auto;
	width: 530px;
}

.search-admin-3 {
	display: block;
	margin: 0 auto;
	width: 710px;
}

.td-col-2 {
	padding-left: 70px;
}

.btn-search, .btn-search-3 {
	background-image: url('../Images/icon_search.png');
	background-position: 5px 5px;
	background-color: #23b7e5;
	background-repeat: no-repeat;
	padding: 5px 10px 5px 25px;
	border: none;
	font-family: Tahoma;
	font-weight: bold;
}

	.btn-search:hover, .btn-search-3:hover {
		background-image: url('../Images/icon_search.png');
		background-position: 5px 5px;
		background-repeat: no-repeat;
		background-color: #1894ba;
		text-decoration: none;
	}

.btn-search-2 {
	display: block;
	margin: 10px auto;
	width: 100px;
	color: #fff;
	background-image: url('../Images/icon_search.png');
	background-position: 5px 5px;
	background-color: #23b7e5;
	background-repeat: no-repeat;
	padding: 6px 0px 6px 25px;
	border: none;
	font-family: Tahoma;
	font-weight: bold;
}

	.btn-search-2:hover {
		background-image: url('../Images/icon_search.png');
		background-position: 5px 5px;
		background-repeat: no-repeat;
		background-color: #1894ba;
		color: #fff;
		text-decoration: none;
	}

.btn-search-3 {
	display: inline-block;
	margin-left: 5px;
	color: white !important;
	padding: 6px 10px 6px 25px !important;
}

.btn-search-combo {
	position: absolute;
	top: 3px;
	left: 205px;
}

.popup-toolbar {
	text-align: right;
	padding-top: 5px;
}

/* List Icon Toolbar */


.icon-delete {
	background: url('../Images/icon_delete.png');
	background-color: #f05050;
}

.icon-new {
	background-image: url('../Images/icon_new.png');
	background-color: transparent;
}

.icon-map {
	background-image: url('../Images/icon_map.png');
	background-color: #319db5;
}

.icon-save {
	background: url('../Images/icon_save.png') no-repeat;
	background-color: #319db5;
}

.icon-upload {
	background: url('../Images/icon_upload.png');
	background-color: rgba(102, 189, 120, 1.0);
}

.icon-edit {
	background: url('../Images/icon_edit.png') no-repeat;
	background-color: #fa8564;
}

.icon-excel {
	background: url('../Images/icon_excel.png') no-repeat;
	background-color: #2FBA2B;
}

.icon-search {
	background: url('../Images/icon_search.png');
	background-color: #23b7e5;
}

.icon-change {
	background: url('../Images/icon_change.png') no-repeat;
	background-color: #FDB45C;
}

.icon-send {
	background: url('../Images/icon_send.png') no-repeat;
	background-color: #66bd78;
}

.icon-approve {
	background: url('../Images/icon_request.png');
	background-color: #23b7e5;
}

.icon-reject {
	background: url('../Images/icon_reject.png');
	background-color: #f05050;
}

.icon-history {
	background: url('../Images/icon_history.png');
	background-color: #F7D31D;
}

.icon-download {
	background-image: url('../Images/icon_download.png');
	background-color: #2FBA2B;
}

.icon-clone {
	background-image: url('../Images/icon_clone.png');
	background-color: #2FBA2B;
}

.icon-print {
	background-image: url('../Images/icon_print.png');
}

.icon-refresh {
	background-image: url('../Images/icon_refresh.png');
	background-color: #2FBA2B;
}

.icon-check {
	background-image: url('../Images/icon_check.png');
}

.icon_toolbar li a {
	display: block;
	line-height: 20px;
	font-family: Segoe UI;
	font-size: 14px;
	color: #fff;
	background-repeat: no-repeat;
	background-position: 7px 7px;
	margin: 0px 0px 0px 10px;
	padding: 0px;
	font-weight: normal;
	text-transform: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 3px;
	/*background-color: #EC870E;
	border: 1px solid #EC870E;*/
	height: 30px;
}

	.icon_toolbar li a.btn-search {
		background-image: url('../Images/icon_search.png');
		background-repeat: no-repeat;
		background-position: 7px 7px;
	}

.history-icon i.fa {
	font-size: 16px;
	font-weight: normal;
	color: #EC870E;
}

.history-icon:after {
	display: none;
}

.icon-exit {
	background-image: url('../Images/icon_exit.png');
	background-color: #FFF !important;
	color: #7A7A7A !important;
	border: 1px solid #969696 !important;
}

.popup-wrapper .toolbar {
	left: 0px;
	right: 0px;
	top: 0px;
}

.content-toolbar {
	width: 100%;
	overflow: hidden;
	padding: 0px 10px 5px;
	border-left: 1px solid #d5d5d5;
	border-right: 1px solid #d5d5d5;
}

	.content-toolbar .icon_toolbar li {
		padding-bottom: 5px;
	}

.export{
    background-image: url(../Images/icon_export.png);
    background-position:left;
}
.icon-save-continue{
    background-image: url(../Images/icon_savecontinue.png);
    background-position:left;
}