/*@import url("menu-icon.css");*/

th {
    text-align: left;
    background: #f2f2f2;
    color: #3c3c3c;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-color: #BABABA;
    word-break: break-word;
}

.toolbar-new {
    margin: 0 20px;
    float: right;
}

.body-content {
    padding: 15px;
    /*padding-bottom: 0px;*/
}

.form-wrapper {
    display: block;
    background: #FFF;
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.1);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.1);
    margin: 10px 20px 20px 20px;
}

h2.header-form {
/*    font-family: Tahoma;*/
    font-size: 14px;
    font-weight: bold;
    color: #C02222;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid #DB0000;
    margin-bottom: 10px;
}

.user-information {
    padding: 18px 8px 18px 17px !important;
}

.label-data {
    display: none;
}

.xn-logo {
    background: #f6f6f6;
}

.user-name {
    z-index: 1;
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translate(0, -50%);
}

    .user-name a {
        border-bottom: none;
    }

        .user-name a .fa {
            margin-right: 0px !important;
        }

.mCustomScrollBox {
    background: #134E80;
}

.disabled-link {
    color: #414141 !important;
    cursor: default;
}

    .disabled-link:hover {
        text-decoration: none;
    }
/* Light Portlet */
.portlet {
    margin-bottom: 15px;
}

    .portlet.light {
        padding: 10px 15px 15px 15px;
        background-color: #fff;
    }

        .portlet.light.bordered {
            border: 1px solid #D0D0D0 !important;
        }

            .portlet.light.bordered > .portlet-title {
                border-bottom: 1px solid #eee;
            }

        .portlet.light.bg-inverse {
            background: #F7F7F7;
        }

        .portlet.light > .portlet-title {
            padding: 0;
            min-height: 32px;
        }

            .portlet.light > .portlet-title > .caption {
                color: #333;
                padding: 2px 0 5px 0;
                display: block;
                float: left;
                font-size: 16px;
                /*font-weight: bold;*/
               /* font-family: 'Segoe UI', sans-serif;*/
            }

                .portlet.light > .portlet-title > .caption > .caption-subject {
                    font-size: 16px;
                }

                .portlet.light > .portlet-title > .caption > i {
                    color: #333;
                    font-size: 15px;
                    font-weight: 300;
                    margin-top: 3px;
                }

                .portlet.light > .portlet-title > .caption.caption-md > .caption-subject {
                    font-size: 15px;
                }

                .portlet.light > .portlet-title > .caption.caption-md > i {
                    font-size: 14px;
                }

            .portlet.light > .portlet-title > .actions {
                padding: 6px 0 14px 0;
            }

                .portlet.light > .portlet-title > .actions .btn-default {
                    color: #666;
                }

                .portlet.light > .portlet-title > .actions .btn-icon-only {
                    height: 27px;
                    width: 27px;
                }

                .portlet.light > .portlet-title > .actions .dropdown-menu li > a {
                    color: #555;
                }

            .portlet.light > .portlet-title > .inputs {
                float: right;
                display: inline-block;
                padding: 4px 0;
            }

                .portlet.light > .portlet-title > .inputs > .portlet-input .input-icon > i {
                    font-size: 14px;
                    margin-top: 9px;
                }

                .portlet.light > .portlet-title > .inputs > .portlet-input .input-icon > .form-control {
                    height: 30px;
                    padding: 2px 26px 3px 10px;
                    font-size: 13px;
                }

                .portlet.light > .portlet-title > .inputs > .portlet-input > .form-control {
                    height: 30px;
                    padding: 3px 10px;
                    font-size: 13px;
                }

            .portlet.light > .portlet-title > .pagination {
                padding: 2px 0 13px 0;
            }

            .portlet.light > .portlet-title > .tools {
                padding: 10px 0 13px 0;
                margin-top: 2px;
            }

            .portlet.light > .portlet-title > .nav-tabs > li {
                margin: 0;
                padding: 0;
            }

                .portlet.light > .portlet-title > .nav-tabs > li > a {
                    margin: 0;
                    padding: 12px 13px 13px 13px;
                    font-size: 13px;
                    color: #666;
                }

                .portlet.light > .portlet-title > .nav-tabs > li.active > a, .portlet.light > .portlet-title > .nav-tabs > li:hover > a {
                    margin: 0;
                    background: none;
                    color: #333;
                }

        .portlet.light.form-fit {
            padding: 0;
        }

            .portlet.light.form-fit > .portlet-title {
                padding: 17px 20px 10px 20px;
                margin-bottom: 0;
            }

        .portlet.light .portlet-body {
            padding-top: 8px;
        }

        .portlet.light.portlet-fullscreen > .portlet-body {
            padding: 8px 0;
        }


#listData .dropdown {
    z-index: 1;
}

.list-address {
    z-index: 2;
}

.address-map {
    font-size: 16px;
    color: #005ACC;
    padding-top: 0px;
}

.add-code-map {
    font-size: 13px;
    color: #979797;
    font-weight: 400;
}

.price-map {
    font-size: 15px;
    color: #333;
    font-weight: 400;
}

    .price-map span {
        font-size: 18px;
        color: #F90;
        s font-weight:500;
    }

.date-map {
    font-size: 13px;
    color: #979797;
    font-weight: 400;
    font-style: italic;
}

li.main-item .dropdown-contain {
    display: none;
    position: absolute;
    background: #FFF;
    top: 100%;
    border-top: 2px solid #EC870E;
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

li.main-item:hover .dropdown-contain {
    display: block;
}

.dropdown-contain a {
    display: block;
    width: 200px;
    padding: 10px;
    border-bottom: 1px solid #dcdcdc;
    color: #555;
    font-size: 12px;
}

    .dropdown-contain a:before {
        content: "\00BB";
        padding-right: 5px;
    }

    .dropdown-contain a:hover {
        text-decoration: none;
        background-color: #f6f6f6;
        border-bottom: 1px solid #EC870E;
    }

.panel .panel-body svg {
    margin: 0 auto;
}

.nv-legendWrap {
    float: right !important;
    display: block;
}

.btn-save-fix {
    display: block;
    padding: 5px 10px;
    background: #434a54;
    color: #FFF;
    font-weight: 500;
    font-size: 14px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.3);
}

    .btn-save-fix :hover {
        color: aquamarine;
    }

    .btn-save-fix .fa {
        font-size: 16px;
    }

#chartdiv {
    width: 150%;
    height: 400px;
    font-size: 11px;
}

.amcharts-pie-slice {
    transform: scale(1);
    transform-origin: 50% 50%;
    transition-duration: 0.3s;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    cursor: pointer;
    box-shadow: 0 0 30px 0 #000;
}

    .amcharts-pie-slice:hover {
        transform: scale(1.1);
        filter: url(#shadow);
    }

.amcharts-chart-div {
    left: 50px !important;
}

.flex_popup-content-fixedsize {
    /*max-height: 630px !important;*/
}

.flex_popup-content {
    padding: 0px !important;
    background: #fff !important;
    margin: 0px !important;
}

.popup-left-panel,
.popup-right-panel {
    padding-left: 0px !important;
}

.popup-right-panel {
    padding-right: 0px !important;
}

#MainContent_ucPVDCommonInfoDisplay_pnlComment {
    display: inline-block;
}

.flex_popup-window {
    border: none !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    text-align: left;
    background-color: #434a54 !important;
    /*background-color: #2D74B0 !important;*/
    /*color:white;*/
}

.flex_popup-window-bar {
    background: #F90;
    padding: 0px 10px !important;
}

.flex_icon-close {
    width: 35px;
    height: 22px;
    float: right;
    background-color: #646464;
    margin-bottom: 2px;
    border-radius: 0 !important;
    margin-top: 5px;
    margin-right: 0px;
}

.flex_popup-title {
    padding: 5px 0;
/*    font-family: 'Segoe UI' !important;*/
    font-weight: 500 !important;
}

.flex-popup-footer {
    background: #F1F1F1;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    padding: 5px 10px;
    text-align: right;
}

    .flex-popup-footer table {
        text-align: right;
        width: 100%;
    }

.flex_tabstrip {
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
}

.flex_tabstrip-item:hover {
    background: #f7f7f7 !important;
}

.flex_tabstrip ul li {
    border-right: 1px solid #d5d5d5 !important;
}

    .flex_tabstrip ul li:first-child {
        border-left: 0px;
    }

    .flex_tabstrip ul li:last-child {
        border-right: 0px;
    }

.flex_tabstrip-item {
    border-top: 1px solid #ccc !important;
}

.flex_tabstrip-item {
    border-bottom: 1px solid #e5e5e2 !important;
    background-color: #f4f4f3 !important;
}

.flex_tabstrip-active {
    border-top: 2px solid #fea223 !important;
    margin-top: -1px;
}

    .flex_tabstrip-active a {
        color: #2d74b0 !important;
    }

.flex_tabstrip-item a {
    color: #6a6a6a !important;
}

.workfield-buttonupload {
    background: rgb(242, 135, 14) none repeat scroll 0% 0%;
    padding: 2px 4px;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

    .workfield-buttonupload:hover {
        text-decoration: none;
    }

    .workfield-buttonupload:active {
        color: rgb(255, 255, 255);
    }

.frameChat {
    height: 150px;
}

.grid-state-pendding {
    color: #FFA500;
    font-size: 18px;
}

.grid-state-inprocessing {
    color: #93C73C;
    font-size: 18px;
}

.grid-state-done {
    color: #007A0C;
    font-size: 18px;
}

.grid-state-none {
    color: transparent;
    font-size: 18px;
}

.tdCompareSearchAddress {
    position: relative;
    padding: 5px !important;
}

.visible-control {
    display: none;
    height: 0px;
}

.visible {
    visibility: visible;
}

.header-status {
    background: #e74955;
    padding: 1px 5px;
    border-radius: 2px;
    margin-left: 10px;
    color: white;
}

.table-image td {
    border: 1px solid #B6DFF0 !important;
    position: relative;
}

    .table-image td h4 {
        background: rgba(255, 255, 255, 0.5);
        padding: 10px;
        bottom: 20px;
        position: absolute;
        width: 100%;
        right: 0px;
        color: #134e80;
    }

.btn-button-v1 {
    background: #2D74B0;
    border: 1px solid transparent;
    padding: 3px 10px;
    font-weight: 500;
    color: #FFF;
    margin-top: 2px;
    margin-bottom: 2px;
}

    .btn-button-v1:hover {
        color: #fff;
    }

.table-compare td.table-header-selt {
    width: 20%;
    position: relative;
}

    .table-compare td.table-header-selt a.button-header-cleardata {
        position: absolute;
        right: 5px;
    }

.table-quantitative {
    /*width: calc(100% - 35px) !important;*/
}

.tdControlHidden > * {
    /*display: none;*/
    visibility: hidden;
}

.control-hidden {
    height: 0;
    visibility: hidden;
}

.dynamic-header-center {
    text-align: center;
}

@media screen and (max-width: 800px) {
    .user-name {
        position: fixed !important;
        float: none !important;
        top: 40px !important;
        right: 10px !important;
        width: auto !important;
    }

    .content {
        z-index: -1 !important;
    }
}

.report-header {
    width: 100%;
    display: flex;
    font-weight: 700;
    margin-bottom: 20px;
/*    font-family: 'Tahoma';*/
    color: #202020;
}

    .report-header .report-header-item {
        flex: 1;
        font-weight: 700;
    }

        .report-header .report-header-item h3 {
            color: #006cb5;
            margin-bottom: 0;
            font-size: 18px;
        }

        .report-header .report-header-item .logo {
            width: 150px;
            margin-left: 40px;
        }

        .report-header .report-header-item:nth-child(2),
        .report-header .report-header-item:nth-child(3) {
            text-align: center;
        }

        .report-header .report-header-item label {
            width: 100%;
        }

.report-section {
/*    font-family: 'Tahoma';*/
}

    .report-section .section-header {
        font-size: 13px;
        font-weight: 700;
        color: #006cb5;
        margin-top: 15px;
    }

    .report-section .section-subheader {
        font-size: 12px;
        padding-left: 15px;
        font-weight: 700;
        color: #202020;
    }

.flex_popup-title {
    color: white;
}