.hot-news {
    width: 100%;
    float: left;
}

.hot-news-item {
    padding: 0px 0 20px 20px;
    position: relative;
    float: left;
}

    .hot-news-item img {
        width: 100%;
        height: 250px;
    }

.hot-news-item-content {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    /*background: linear-gradient(180deg, rgba(12, 12, 12, 0) 0%, #0C0C0C 100%);*/
}


.hot-news-item-text {
    position: absolute;
    bottom: 0;
    padding: 20px;
}

    .hot-news-item-text p.news-date {
        font-size: 13px;
        color: #E5E5E5;
        margin-bottom: 8px;
        font-family: SF Pro Display;
    }

    .hot-news-item-text h3 {
        margin-bottom: 8px;
        max-height: 55px;
        overflow: hidden;
    }

        .hot-news-item-text h3 a {
            font-size: 20px;
            line-height: 24px;
            color: #FFF;
            font-family: SF Pro Display;
        }

    .hot-news-item-text p.news-text {
        font-size: 14px;
        color: #E5E5E5;
        margin: 0;
        max-height: 40px;
        overflow: hidden;
        font-family: SF Pro Display;
    }

.hot-news-item:first-child {
    padding: 0px;
    min-height: 500px;
    float: left;
}

    .hot-news-item:first-child img {
        height: 520px;
    }

    .hot-news-item:first-child .hot-news-item-content {
        width: 100%;
        height: 100%;
    }

    .hot-news-item:first-child .hot-news-item-text {
        padding: 30px;
    }

        .hot-news-item:first-child .hot-news-item-text h3 {
            max-height: 77px;
        }

            .hot-news-item:first-child .hot-news-item-text h3 a {
                font-size: 18px;
                line-height: 36px;
            }

        .hot-news-item:first-child .hot-news-item-text p.news-text {
            font-size: 16px;
            max-height: 45px;
        }

.list-news ul {
    margin: 0 0 30px;
    padding: 0;
    list-style-type: none;
}

.list-news li {
    height:300px;
    width: 100%;
    background: #fff;
    border-radius: 12px;
    display: flex;
    margin-bottom: 30px;
    overflow: hidden;
}

    .list-news li img {
        object-fit:cover !important;
        width: 40%;
        min-width: 40%;
        height: 100%;
        max-height: 325px;
    }

.list-news-content {
    padding: 40px 40px 40px 20px;
    border: 1px solid #E5E5E5;
    border-left: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 100%;
}

    .list-news-content h4 {
        margin-bottom: 12px;
    }

        .list-news-content h4 a {
            font-size: 14px;
            font-weight: bold;
            color: #333;
            line-height: 24px;
        }
            .list-news-content h4 a:hover {
                color: #141ed2;
            }

    .list-news-content p {
        font-size: 13px;
        font-weight: normal;
        color: #595959;
        margin-bottom: 16px;
    }

        .list-news-content p.news-date {
            font-size: 13px;
            color: #979797;
        }

    .list-news-content a {
        font-size: 13px;
        color: #141ed2;
        font-weight:600;
    }
        .list-news-content a:hover {
            color: #141ed2;
            font-weight: 600;
        }

        .list-news-follow {
            width: 100%;
            padding: 25px;
            background: #fff;
            border-radius: 12px;
        }

    .list-news-follow ul {
        margin: 0;
        padding: 0;
        width: 100%;
        list-style-type: none;
    }

    .list-news-follow li {
        width: 100%;
        margin-bottom: 20px;
    }

        .list-news-follow li img {
            width: 100%;
            margin-bottom: 10px;
        }

        .list-news-follow li p {
            font-size: 13px;
            color: #8C8C8C;
            margin-bottom: 12px;
        }

            .list-news-follow li p span {
                font-size: 12px;
                color: #1D39C4;
                float: right;
            }

.news-follow-text {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.news-status {
    width: 100%;
    margin-bottom: 15px;
}

    .news-status ul {
        display: flex;
        justify-content: space-between;
    }

    .news-status li {
        width: auto;
        flex: 1;
        margin: 0 20px 0 0;
        border-bottom: 1px solid #DCE0E6;
    }

        .news-status li:last-child {
            margin: 0;
        }

.news-status-title {
    width: 100%;
    color: #595959;
    display: flex;
    align-items: center;
    font-size: 12px;
}

    .news-status-title i {
        display: inline-block;
        margin-right: 12px;
    }

.news-status li p {
    font-size: 14px;
    color: #262626;
    margin: 5px 0 8px 25px;
}

.news-vote-detail {
    width: 100%;
    margin-bottom: 30px;
    font-size: 12px;
    color: #595959;
}

    .news-vote-detail span {
        margin-top: 2px;
        display: inline-block;
    }

    .news-vote-detail a {
        padding: 2px 15px;
        font-size: 12px;
        color: #fff;
        background: #597EF7;
        border-radius: 100px;
        float: right;
    }

        .news-vote-detail a:hover {
            font-weight: normal;
            color: #fff;
        }

    .news-vote-detail p {
        margin-top: 12px;
    }

.news-follow:last-child {
    margin-bottom: 0px;
}
@media only screen and (max-width: 1499px) {
    .news-status .news-status-title {
        flex-direction: column;
    }
    .news-status ul{
        gap:5px;
    }
    .news-status li {
        margin: 0;
    }
        .news-status li p{
            margin:0;
            text-align:center;
        }
}